.error-warning-container {
  height: 20%;
  width: 30%;
  border-style: solid;
  border-color: rgb(200, 39, 39);
  border-width: 0.4em;
  border-radius: 1em;
  position: absolute;
  top: 49%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
}