.individual-letter-container {
  margin: 0.4em;
  padding: 0.4em;
  border: black;
  border-style: solid;
  border-width: 0.2em;
  border-radius: 0.5em;
  height: 2.5em;
  width: 2.5em;
  background-color: #FFF9DB;
  &:hover {
    cursor: pointer;
    background-color: rgb(38, 187, 38);
  }
  &.bad-selection {
    background-color: red !important;
  }
  &.selected {
    background-color: green;
  }
}

.letter-character {
  font-size: 1.5em;
  margin-top: 0.2em;
  margin-left: 0.5em;
  font-weight: bold;
}

.letter-value {
  font-size: 0.8em;
  margin-left: 2.5em;
  margin-top: -0.5em;
}