.players-page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  padding: 1em;
}

.show-leaderboard-button {
  background-color: #3498db;
  color: white;
  padding: 0.625rem 1.25rem;
  border: none;
  border-radius: 0.3125rem;
  font-size: 1rem;
  cursor: pointer;
  width: 10em;
  margin-bottom: 1em;

  &:hover {
    background-color: #2980b9;
  }
}

.players-icons-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.player-icon-container {
  position: relative;
  margin: 0.625rem;
}

.player-icon {
  background-color: red;
  width: 3.125rem;
  height: 3.125rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  font-weight: bold;
  color: white;
  border-radius: 50%;
  cursor: pointer;

  &.selected {
    background-color: green !important;
  }
}

.popup {
  display: none;
  position: absolute;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 0.5em;
  z-index: 1;
  left: 50%;
  top: 100%;
  transform: translate(-50%, 0.5em);
  white-space: nowrap;
  color: #333;
}

.player-icon:hover .popup {
  display: block;
}
