.players-icons-container {
  margin-top: 1em;
  display: flex;
}

.player-icon {
  background-color: red;
  margin-left: 0.5em;
  padding: 0.2em;
  border-radius: 0.2em;
  
  &:hover {
    cursor: pointer;
  }

  &.selected {
    background-color: green !important;
  }
}

.popup {
  display: none;
  position: absolute;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  z-index: 1;
  left: 1.7%;
  top: 13%;
  transform: translate(-50%, 10px);
}

.player-icon:hover .popup {
  display: block;
}