.square {
  border-style: solid;
  border-color: black;
  border-width: 0.14em;
  height: 2.5em;
  width: 2.5em;
  padding-top: 1.3em;
  padding-left: 1.2em;
  font-weight: bold;
}

.normal-square {
  @extend .square;
}

.triple-word-square {
  @extend .square;
  background-color: red;
}

.double-word-square {
  @extend .square;
  background-color: blue;
}

.triple-letter-square {
  @extend .square;
  background-color: aqua;
}

.double-letter-square {
  @extend .square;
  background-color: orange;
}

.middle-square {
  @extend .square;
  background-color: black;
}