.square {
  border-style: solid;
  border-color: black;
  border-width: 0.14em;
  height: 2.5em;
  width: 2.5em;
  padding-top: 1.3em;
  padding-left: 1.2em;
  font-weight: bold;
}

@mixin selected-letter {
  &.selected-letter {
    &:hover {
      cursor: pointer;
    }
  }
}

.normal-square {
  @extend .square;
  @include selected-letter;
}

.triple-word-square {
  @extend .square;
  @include selected-letter;
  background-color: red;
}

.double-word-square {
  @extend .square;
  @include selected-letter;
  background-color: blue;
}

.triple-letter-square {
  @extend .square;
  @include selected-letter;
  background-color: aqua;
}

.double-letter-square {
  @extend .square;
  @include selected-letter;
  background-color: orange;
}

.middle-square {
  @extend .square;
  @include selected-letter;
  background-color: rgb(193, 31, 31);
}

.played-letter-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%; 
  width: 100%;
  position: relative;
}

.square-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.square-letter-character {
  margin-right: 0.8em;
  font-size: 1.6em;
  font-weight: bold;
}

.square-letter-value {
  margin-right: 0.2em;
  margin-bottom: 0.4em;
  font-size: 0.8em;
  float: right;
}
